#post-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
}

.post {
        width: 30%;
        height: 200%;
        border: 5px #2aa198 solid;
        background: #002b36;
        display: flex;
        color: #93a1a1;
        flex-direction: column;
        justify-content: center;
        margin-left: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-right: 10px;
        padding-left: 10px;
}
#notifications {
	display:none;
}
.post-title {
        padding-top: 15px;
        font-size: large;

}

.post-image {
        width: 100%;
        height: 100%;
}
.load-button {
	background:none;
	border:none;
	color:inherit;
	font-size:large;
}
.load {
	        width: 20%;
        height: 200%;
        border: 5px #2aa198 solid;
        background: #002b36;
        display: flex;
        color: #93a1a1;
        flex-direction: column;
        justify-content: center;
        margin-left: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom: 20px;

}
.post-auth {
        border-bottom: 1px #2aa198 solid;
        padding-bottom: 15px;
}

@font-face {
        font-family: "Hack";
        src: url("/fonts/hack.ttf");
}

@font-face {
        font-family: "Hack";
        font-weight: bold;
        src: url("/fonts/hack-bold.ttf");
}

.post-content {
        word-wrap: break-word;

        padding: 20px 0 20px 0;
        height: 400%;
        border-bottom: 1px #2aa198 solid;
}

.post-bar {
        padding-top: 10px;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;
}

.post-id {
        padding-left: 10px;
        font-size: small;
}

.post div {}

.post-botttom {
        display: flex;
        justify-content: center;

}

#main {
        padding-top: 20px;
}

button {
        cursor: pointer;
}

#main>div {
        display: none;
}

#feed #posts {
        display: block;
}

#navbar {}

#navbar ul {
        left: 0;
        list-style-type: none;
        margin: 0;
        top: 0;
        width: 100%;
        position: fixed;
        padding: 0;
        overflow: hidden;
        background-color: #002b36;
        display: flex;
        justify-content: flex-start;
}

a {
        text-decoration: none;
        color: #93a1a1;

}

#navbar li a {
        padding: 14px 16px;
}

.post-bar div {
        padding: 0 5px 0 5px;
}

#navbar .loggedin {

        margin-left: auto;

        justify-self: end;
}

#navbar .loggedout {
        justify-self: end;
        margin-left: auto;
}

.username {
        color: #93a1a1;
}

body {
        font-family: Hack;
        background-color: #073642;
}

#pop {}

#create-container {
        font-size: large;

}

.centered {
        border: 5px #2aa198 solid;
        background: #002b36;

        color: #93a1a1;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 30%;
}

.large-label {
        font-size: large;
	padding:2%;
}

.label-content {
        border-bottom: 5px #2aa198 solid;
	padding: 2%;
}
#info-container {
	    top: 60%;
}
#tags-container {
        font-size: large;


}

#settings-container {
        font-size: large;


}

#settings-label {
        padding: 2%;
        margin-bottom: 2%;
        border-bottom: 5px #2aa198 solid;
}

#settings-change-name {
        margin-bottom: 2%;
        padding: 1%;

}

#settings-name input {
        margin-top: 1%;
        margin-bottom: 1%;

}

#tags-seperator {
        margin-right: 20px;
        margin-left: 20px;
        display: flex;
        height: 200px;

        justify-content: space-between;
}

.large-logo {
        position: absolute;
        z-index: -1;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -100%);


}

#tags-seperator ul {
        margin-left: 5px;
        list-style-position: outside;
        list-style-type: none;

}

#tags-self {
        padding-left: 10px;
}

#tags-seperator li {
        display: list-item;
        cursor: pointer;
}

#tags-seperator div {
        border-bottom: 5px #2aa198 solid;
        width: 100%;
}

#tags-self {
        border-left: 5px #2aa198 solid;
}

#tags-find {
        margin: 10px;
        display: flex;
        justify-content: center;
}

#tags-find input {
        height: 10px;
        margin-top: 15px;
}

#create-label {
        border-bottom: 1px #2aa198 solid;
        font-size: large;
        padding: 2% 1%;
}

#create-title {
        padding: 1% 1%;
}

#create-content {
        padding: 1% 1%;

}

#create-content textarea {
        resize: none;
        margin-left: auto;
        margin-right: auto;
}

#create-tags {
        padding: 1% 1%;
}

#create-bottom {
        padding: 1% 2%;

}

#create-bottom input {
        font-size: large;
}

.create-remove {
        background: none;
        border: none;

}

.create-tags {
        border: 1px #2aa198 solid;
        padding: 0.25%;
        border-radius: 10%;
        margin-right: 1%;
}

#create-already-tags {
        padding-bottom: 1%;
}

.fav-post {



        background: none;
        border: none;
        color: inherit;
}

.comment-post {


        background: none;
        border: none;
        color: inherit;

}

.tag {

        background: none;
        border: 1px #2aa198 solid;
        color: inherit;
        padding: none;


}

#reset-con {
        font-size: large;
        border: 5px #2aa198 solid;
        background: #002b36;
        color: #93a1a1;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 30%
}

#changed-con a {
        text-decoration: underline;
}

#reset-label {
        border-bottom: 1px #2aa198 solid;
        margin-bottom: 1%;
        padding: 2%;

}
#stay {
	position:fixed;
}
#about {
	display:none;
	position:fixed;
	right:0;
	bottom:0;
	font-size:small;
	color:#002b36;
}
#reset-form-con {
        padding: 2%;
}

#reset-form-con div {
        margin-top: 1%;
        margin-bottom: 1%;

}

#changed-con {
        font-size: large;
        border: 5px #2aa198 solid;
        background: #002b36;
        color: #93a1a1;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 30%;
        padding: 3%;
}

#login-container {
        font-size: large;
        border: 5px #2aa198 solid;
        background: #002b36;
        display: flex;
        justify-content: center;
        color: #93a1a1;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 30%
}

#login-container>div {
        padding: 10px;
}

#login-label {
        border-bottom: 1px #2aa198 solid;
        font-size: large;
        padding: 2% 1%;
}

#rec-label {

        border-bottom: 1px #2aa198 solid;
        font-size: large;
        padding: 2% 1%;
        margin-bottom: 1%;
}

#login-pass {
        padding: 1% 1%;

}

#login-uid {
        padding: 1% 1%;

}

#login-submit {
        padding: 1% 2%;
        font-size: large;
}

#notifications {
        position: fixed;
        bottom: 0;
        right: 0;
}

.notification {}

.fake-post {
        width: 20%;
        height: 200%;
        border: 5px #2aa198 solid;
        background: #002b36;
        display: flex;
        color: #93a1a1;
        flex-direction: column;
        justify-content: center;
        margin-left: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom: 20px;

}

#results-nav {}


#results-nav ul {
        list-style-type: none;
        margin: 0;
        margin-bottom: 20px !important;
        top: 3.0%;
        width: 100%;
        position: fixed;
        padding: 0;
        overflow: hidden;
        background-color: #002b36;
        display: flex;
        justify-content: flex-start;
}

#results-posts {
        margin-top: 20px;
}

#results-nav li {
        color: #586e75;
}

.results-follow {
        background: none;
        border: none;
        color: #657b83 !important;
        font: inherit;
}

#overlay {
        width: 100%;
        height: 100%;

        z-index: 1;
        position: fixed;
        display: none;


}

#overlay-background {
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.5;
        left: 0;
        top: 0;
        z-index: 2;
        position: fixed;
}

#comment-container {
        opacity: 1;
        z-index: 100;
        position: fixed;
        width: 30%;
        height: 30%;
        top: 30%;
        left: 30%;
        background: #002b36;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

#comment-title {
        margin-left: 2%;
        padding-top: 3%;
        font-size: large;
        color: #93a1a1;
}

#comments-list {
        list-style-type: none;
        color: #93a1a1;
}

.comment {
        display: flex;
        flex-direction: column;

}

.comment-author {
        border-top: 1px #2aa198 solid;
        font-size: small;
}

#rec-sep {
        margin-top: 10px;
}

#make-div {
        padding-left: 2%;
        padding-top: 4%;
        padding-bottom: 3%;
        position: relative;
        bottom: 0;
        display: flex;
}
