:root {
	--main-bg:#073642;
	--sec-bg:#002b36;
	--border:#2aa198;
	--text:#93a1a1;
	--follow:#657b83;
}

#post-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
}
#cur-rules-list {
        list-style-type: none;
	color:var(--text);
}
#big-buttons button {
	background: none;
	color: var(--text);
	font-weight: bold;
}
.big-but {
	color:var(--text);
	background:none;
	border:none;
}
#home {
	flex-wrap:wrap;
	display:flex;
	position: relative;
	margin-left:15%;
}
.curbutx {
	background:none;
	border:none;
	margin:none;
	padding:0;
}
#back-div {
	background:none;
	border:none;
	font-weight:bold;
}
#fol-curs li {
	cursor:pointer;
}
.post {
        width: 30%;
        height: 200%;
        border: 5px var(--border) solid;
        background: var(--sec-bg);
        display: flex;
				position: absolute;
        color: var(--text);
        flex-direction: column;
        justify-content: center;
        margin-left: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-right: 10px;
        padding-left: 10px;
}
#notifications {
	display:none;
}
.post-title {
        padding-top: 15px;
        font-size: large;
	font-weight:bold;

}
.main-con {
	font-size:large;
}
.post-image {
        width: 100%;
        height: 100%;
	border:2px var(--border) solid;
	margin-bottom:2%;
}
.load-button {
	background:none;
	border:none;
	color:inherit;
	font-size:large;
}
.load {
	        width: 20%;
        height: 200%;
        border: 5px var(--border) solid;
        background: var(--sec-bg);;
        display: flex;
        color: var(--text);
        flex-direction: column;
        justify-content: center;
        margin-left: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom: 20px;

}
.post-auth {
        border-bottom: 1px var(--border) solid;
        padding-bottom: 15px;
}

@font-face {
        font-family: "Hack";
        src: url("/fonts/hack.ttf");
}

@font-face {
        font-family: "Hack";
        font-weight: bold;
        src: url("/fonts/hack-bold.ttf");
}

.post-content {
        word-wrap: break-word;

        padding: 20px 0 20px 0;
        height: 400%;
        border-bottom: 1px var(--border) solid;
}

.post-bar {
        padding-top: 10px;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;
}
.post-id {
	display:none;
        padding-left: 10px;
        font-size: small;
	margin-bottom:0px;
}
.post-date {
	margin-top:0px;
	top:0;
padding-left:10px;
font-size:small;
}
.post div {}

.post-botttom {
        display: flex;
        justify-content: center;

}

#main {
        padding-top: 20px;
}

button {
        cursor: pointer;
}
#owned-curs li {
	cursor:pointer;
}
#main>div {
        display: none;
}

#feed #posts {
        display: block;
}

#navbar {}
#main a {
	color: var(--follow) !important;
}
#navbar ul {
        left: 0;
        list-style-type: none;
        margin: 0;
        top: 0;
        width: 100%;
        position: fixed;
	border-bottom:2px var(--border) solid;
        padding: 0;
        overflow: hidden;
        background-color: var(--sec-bg);
        display: flex;
        justify-content: flex-start;
}

a {
        text-decoration: none;
        color: var(--text);

}

#navbar li a {
	font-weight:bold;

        padding: 14px 16px;
}

.post-bar div {
        padding: 0 5px 0 5px;
}

#navbar .loggedin {

        margin-left: auto;

        justify-self: end;
}

#navbar .loggedout {
        justify-self: end;
        margin-left: auto;
}

.username {
        color: var(--text);
}

body {
        font-family: Hack;
        background-color: var(--main-bg);
}

#pop {}

.centered {
        border: 5px var(--border) solid;
        background: var(--sec-bg);

        color: var(--text);
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 50%;
}

.large-label {
        font-size: large;
	padding:2%;
}

.label-content {
        border-bottom: 5px var(--border) solid;
	padding: 2%;
}
#info-container {
	    top: 60%;
}
#settings-label {
        padding: 2%;
        margin-bottom: 2%;
        border-bottom: 5px var(--border) solid;
}

#settings-change-name {
        margin-bottom: 2%;
        padding: 1%;

}
#settings button {
	color:var(--follow);
	background:none;
	border:none;
	font-size:large;
}
.niceinput {
	color:var(--follow);
	background:none;
	border:none;
	font-size:medium;
}
#settings > div {
	padding-left:5%;
	margin-top:5%;
}
#settings-name input {
        margin-top: 1%;
        margin-bottom: 1%;

}
#big-img {
	border:1px  var(--border) solid;
	max-height:400px;
	max-width:650px;

}
#cur-seperator {
        margin-right: 20px;
        margin-left: 20px;
        display: flex;
        height: 200px;

        justify-content: space-between;
}

#tags-seperator {
        margin-right: 20px;
        margin-left: 20px;
        display: flex;
        height: 200px;

        justify-content: space-between;
}

.large-logo {
        position: absolute;
        z-index: -1;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -100%);


}
.small-logo {
	position:fixed;
	z-index:-1;
	top:95%;
	height:100.5;
	width:88.75px;
	opacity:0.3;
	left:50%;
	transform:translate(-50%,-100%);
}
#cur-seperator ul {
        margin-left: 5px;
        list-style-position: outside;
        list-style-type: none;

}

#tags-seperator ul {
        margin-left: 5px;
        list-style-position: outside;
        list-style-type: none;

}
#curs-self{
        padding-left: 10px;

        border-left: 5px var(--border) solid;
}

#cur-seperator li {
        display: list-item;
        cursor: pointer;
}

#cur-seperator div {
        border-bottom: 5px var(--border) solid;
        width: 100%;
}
#curs-find {
        margin: 10px;
        display: flex;
        justify-content: center;
}

#curs-find input {
        height: 10px;
        margin-top: 15px;
}

#tags-self {
        padding-left: 10px;
}

#tags-seperator li {
        display: list-item;
        cursor: pointer;
}

#tags-seperator div {
        border-bottom: 5px var(--border) solid;
        width: 100%;
}

#tags-self {
        border-left: 5px var(--border) solid;
}

#tags-find {
        margin: 10px;
        display: flex;
        justify-content: center;
}

#tags-find input {
        height: 10px;
        margin-top: 15px;
}

#create-label {
        border-bottom: 2px var(--border) solid;
        font-size: large;
        padding: 2% 1%;
}
.main-label {
        border-bottom: 3px var(--border) solid;
        font-size: large;
        padding: 2% 1%;

}
.horsplit {
	padding:2%;
	font-size:medium;
	display:flex;
	justify-content:center;
}
#create-title {
        padding: 1% 1%;
}
.tosplit:nth-child(2) {
	margin-left:2%;
	padding-left:2%;
	border-left: 5px var(--border) solid;
}
.tosplit {
	font-size:medium;
}
.small {
	font-size:small;
}
.tosplit form input {
	margin-top:1%;
	margin-bottom:1%;
}
#create-content {
        padding: 1% 1%;

}

#create-content textarea {
        resize: none;
        margin-left: auto;
        margin-right: auto;
}

#create-tags {
        padding: 1% 1%;
}

#create-bottom {
        padding: 1% 2%;

}

#create-bottom input {
        font-size: large;
}

.create-remove {
        background: none;
        border: none;

}

.create-tags {
        border: 1px var(--border) solid;
        padding: 0.25%;
        border-radius: 10%;
        margin-right: 1%;
}
.curtag {
        border: 1px var(--border) solid;
        padding: 0.25%;
        border-radius: 10%;
        margin-right: 1%;

}
#create-already-tags {
        padding-bottom: 1%;
}

.fav-post {



        background: none;
        border: none;
        color: inherit;
}

.comment-post {


        background: none;
        border: none;
        color: inherit;

}
.delete-post {
	background:none;
	border:none;
	color: inherit;
}
.ban-post {
		background:none;
	border:none;
	color: inherit;

}
.sticky-post {
	background:none;
	border:none;
	color: inherit;

}
.tag {

        background: none;
        border: 1px var(--border) solid;
        color: inherit;
        padding: none;


}
 #info-container {
	 top:10%;
transform: translate(-50%, 0%) !important;
}
#reset-con {
        font-size: large;
        border: 5px var(--border) solid;
        background: var(--sec-bg);
        color: var(--text);
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 30%
}

#changed-con a {
        text-decoration: underline;
}

#reset-label {
        border-bottom: 1px var(--border) solid;
        margin-bottom: 1%;
        padding: 2%;

}
#stay {
	position:fixed;
}
#about {
	position:fixed;
	right:0;
	bottom:0;
	font-size:small;
	color:var(--sec-bg);
}
#reset-form-con {
        padding: 2%;
}

#reset-form-con div {
        margin-top: 1%;
        margin-bottom: 1%;

}

#changed-con {
        font-size: large;
        border: 5px var(--border) solid;
        background: var(--sec-bg);
        color: var(--text);
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 30%;
        padding: 3%;
}

#login-container {
        font-size: large;
        border: 5px var(--border) solid;
        background: var(--sec-bg);
        display: flex;
        justify-content: center;
        color: var(--text);
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 30%
}

#login-container>div {
        padding: 10px;
}

#login-label {
        border-bottom: 1px var(--border) solid;
        font-size: large;
        padding: 2% 1%;
}

#rec-label {

        border-bottom: 1px var(--border) solid;
        font-size: large;
        padding: 2% 1%;
        margin-bottom: 1%;
}

#login-pass {
        padding: 1% 1%;

}

#login-uid {
        padding: 1% 1%;

}

#login-submit {
        padding: 1% 2%;
        font-size: large;
}

#notifications {
        position: fixed;
        bottom: 0;
        right: 0;
}

.notification {}

.fake-post {
        width: 20%;
        height: 200%;
        border: 5px var(--border) solid;
        background: var(--sec-bg);
        display: flex;
        color: var(--text);
        flex-direction: column;
        justify-content: center;
        margin-left: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom: 20px;

}

#results-nav {}


#results-nav ul {
        list-style-type: none;
        margin: 0;
        margin-bottom: 20px !important;
        top: 3.0%;
        width: 100%;
        position: fixed;
        padding: 0;
        overflow: hidden;
        background-color: var(--sec-bg);
        display: flex;
        justify-content: flex-start;
}

#results-posts {
        margin-top: 20px;
}

#results-nav li {
        color: #586e75;
}

.results-follow {
        background: none;
        border: none;
        color: var(--follow) !important;
        font: inherit;
}

#overlay {
        width: 100%;
        height: 100%;

        z-index: 1;
        position: fixed;
        display: none;


}

#overlay-background {
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.5;
        left: 0;
        top: 0;
        z-index: 2;
        position: fixed;
}

#comment-container {
        opacity: 1;
        z-index: 95;
        position: fixed;
        width: 60%;
        height: 60%;
	border:4px var(--border) solid;
        top: 20%;
        left: 20%;
	overflow-y:scroll;
	overflow-x:hidden;
        background: var(--sec-bg);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}
#big-container {
	opacity:1;
	z-index:95;
	position: fixed;
	width: 80%;
	height: 80%;
	border: 4px var(--border) solid;
	top:10%;
	left:10%;
	overflow-y: visible;
	overflow-x: hidden;
	background: var(--sec-bg);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
#big-container div {
	margin-left:2%;
	margin-right:2%;
	color:var(--text);
}
#copy-div {
	display:none;
	z-index:100;
	width:40%;
	height:10%;
	background:var(--sec-bg);
	border:4px var(--border) solid;
	position:fixed;

	transform:translate(-50%, -50%);
	left:50%;
	top:50%;
}
#copy-x {
	margin-left:auto;
	right:0;
	position:relative;
	top:0;
}
.share-post {
	background:none;
	cursor:pointer;
	color:var(--text);
	border:none;
}
#big-share {
	background:none;
	cursor:pointer;
	color:var(--text);
	border:none;

}
#copy-fill {
	position:relative;
	top:30%;
	cursor:pointer;
	left:5%;
	color:var(--follow);
}
#big-container button {
	background: none;
	border: none;
	color: var(--text);
}
#big-title {
	margin-top:3%;
	margin-left:3%;
	margin-right:3%;
	height:10%;
	font-weight: bold;
	border-bottom: 0.5% var(--border) solid;
	display:flex;
	justify-content: space-between;
}
#big-content-container{
	display: flex;
	justify-content: center;
}
#big-comments{
	list-style-type: none;
	color:var(--text);
	border-bottom: 0.5% var(--border) solid;
	border-top: 0.5% var(--border) solid;
}
#big-buttons {
	background: none;
	border: none;
	border-top:3px  var(--border) solid;
	border-bottom:3px var(--border) solid;
	display:flex;
	margin-top:1%;
	margin-bottom:1%;
	padding-top:1.5%;
	padding-bottom:1.5%;
	justify-content:space-between;
	color: var(--text);

}
.big-tag {
	border:1px var(--border) solid !important;
}
#big-content {
	border:0.5% var(--border) solid;
height:40%;
}
#mob-click {
	display:none;
}
#comment-title {
	font-weight:bold;
        margin-left: 2%;
        padding-top: 3%;
        font-size: large;
        color: var(--text);
}

#comments-list {
        list-style-type: none;
        color: var(--text);
}

.comment {
        display: flex;
        flex-direction: column;

}

.comment-author {
        border-top: 1px var(--border) solid;
        font-size: small;
}

#rec-sep {
        margin-top: 10px;
}

#make-div {
        padding-left: 2%;
        padding-top: 4%;
        padding-bottom: 3%;
        position: relative;
        bottom: 0;
        display: flex;
}
#cur-mod {
	width:30%;
	height:90%;
	position:fixed;
	right:0;
	bottom:0;
	background-color:var(--sec-bg);
	border:2px var(--border) solid;
}
.mobile {
	display:none;
}
.mobile-f {
	display:none;
}
#hid-br-tag {
	display:none;
}
#cur-mod h2 {
	margin-top:4%;
	margin-left:1%;
}
#cur-mod div {
	margin-left:1.5%;
	margin-top:4%;
}

@media only screen and (max-device-width: 768px) {
	div  {
		font-size:x-large !important;
	}
   div .post {
        width: 90%;
	margin-left: 2%;
    }
    #login-container {
    	transform:none;
	width:90%;
	margin-left:2.5%;
	top:15%;
	left:2.5%;
	height:40%;
	padding-top:10%;
    }
    #mob-click {
    	height:10%;
	top:0%;
	position:fixed;
	left:0%;
	z-index:1;
    }
    #navbar {
    }
    #navbar ul {
	    font-size:xx-large;
    	height:10%;
	width:100%;
	display:flex;
	top:90%;
	left:0%;
	bottom:0%;
	justify-content:flex-start;
	flex-wrap:wrap;
    }
    .load {
    	width:90%;
    }
    #navbar li {
    	border:2px var(--border) solid;
    }
    #main {
    margin-bottom:20%;
    }
    #navbar .loggedin {
    	margin-left:0 !important;
	justify-self:inherit !important;
    }
    #navbar .loggedout {
    	margin-left:0 !important;
	display:none;
	justify-content:flex-start;
    }
     #manage-curs-nav {
    	display:none;

    }
    #about {
    	top:0;
	bottom:auto;
	right:0;
	left:auto;
    }
    div .centered {
    	top:15%;
	left:0%;
	width:90%;
	margin-left:2.5%;
	height:75%;
	height:60%;
	text-align:center;
	transform:none !important;
    }
    .mobile {
    	display:block;
    }
    .mobile-f {
    	display:fixed;
    }
    #hide-br-tag {
    	display:block !important;
    }
    #tags-seperator {
    	height:400px !important;
	font-size: 50px !important;
    }
    #search {
    	font-size:75px;
    }
    #create-post #create-title{
    	font-size:large;
    }
    #home {
    	margin-left:0;
    }
    #tags-find {
    	margin-top:20% !important;
    }
}
